body {
    margin: 0;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container {
    padding: 0.01em 16px;
    text-align: justify;
}

.banner {
    color: white;
    background-size: cover;
    padding-top: 50px;
    width: 90%;
    height: 25%;
    vertical-align: center;
}

.banner p, .banner p a {
    color: #F5F5F5;
}

